body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #3E3E3B;
	background-color: rgba(205, 197, 193, .5);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.container {
	align-items: flex-start;
	margin: auto;
	width: 90%;
}
h1 {
    font-size: 30px;
    text-align: center;
	color: #3E3E3B;
}

/*Footer*/
footer.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	background-color: #C1C4C6;
	color: #4C586F;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	padding: 9px;
}